/* Style */
a.title, a.title:hover {
    color: #428bca !important;

    text-decoration: none;
}
h1.won {
    margin: 0 !important;
}
a.play-again {
    margin-top: 50px;
}

/* Layout */
#container {
    width: 960px;

    margin: 0 auto;

    text-align: center;
}

/* Header */
#statistics {
    margin-bottom: 50px;

    font-size: 24px;
}

/* Content */
#content, footer {
    margin-top: 50px;
}
.row {
    margin: 0 !important;
}
.cards {
    display: inline-block;
}
.card, .face {
    width: 73px;
    height: 103px;
}
.card {
    overflow: hidden;

    float: left;
    margin: 15px 0 0 15px;

    cursor: pointer;
}
.face {
    background: url('../img/memory-sprite.jpg') no-repeat 1000px 1000px;
}
.row .card:first-child {
    margin-left: 0;
}
.row:first-child .card {
    margin-top: 0;
}
.clear-left {
    clear: left;
}